<h2>Edit <%= @search.name || @search.biz %></h2>

<%= render "form.html", changeset: @changeset, action: search_path(@conn, :update, @search) %>

<%= link "Cancel", to: @cancel_action, class: "btn btn-danger" %>
