<h1>Search Results</h1>

<div class="container">
  <ul>
    <li>Business name: <%= @search.biz %></li>
    <li>Business zip: <%= @search.zip %></li>
  </ul>
</div>

<%= link "View All Searches", to: search_path(@conn, :index), class: "btn btn-primary" %>
<%= link "Delete Search", to: search_path(@conn, :delete, @search), method: :delete, data: [confirm: "Are you sure?"], class: "btn btn-danger" %>
