<h2><%= @project.name %></h2>

<p>
  Add searches here...
</p>

<%= link "View All Projects", to: project_path(@conn, :index), class: "btn btn-primary" %>
<%= link "Delete Project", to: project_path(@conn, :delete, @project), method: :delete, data: [confirm: "Are you sure?"], class: "btn btn-danger" %>
